<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fp"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="28"/>

    <application
        android:label="Bazel Tutorial App">
        <activity
            android:name=".MainActivity"
            android:label="Bazel Tutorial App"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>